<!--/*@thymesVar id="readerName" type="java.lang.String"*/-->
<div role="tabpanel" class="active tab-pane" th:id="@{reader-{reader}-config(reader=${readerName})}">
    <div class="row justify-content-md-center">
       <div class="alert alert-danger col-sm-6" style="display: none;" th:id="@{faultstring-{reader}(reader=${readerName})}" role="alert"></div>
    </div>

    <form role="form" class="form-horizontal" id="editReader" name="editReader">
       <div class="form-group row justify-content-md-center">
           <label th:for="@{power-{reader}(reader=${readerName})}" class="text-right col-sm-2 ml-auto col-form-label">Power:</label>
           <div class="col-sm-3">
               <input name="power" maxlength="200" type="text" class="form-control" title="Sendeleistung in Milliwatt" th:id="@{power-{reader}(reader=${readerName})}" placeholder="Power" value="" />
           </div>
           <div class="col-sm-1 mr-auto">
               <a class="btn btn-success btn-w90" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.POWER); return false;'" role="button">SET</a>
           </div>
       </div>
       
       <div class="form-group row justify-content-md-center">
           <label th:for="@{transponderValidTime-{reader}(reader=${readerName})}" class="text-right col-sm-2 ml-auto col-form-label">Transponder Valid Time:</label>
           <div class="col-sm-3">
               <input name="transponderValidTime" maxlength="200" type="text" class="form-control" title="Zeitraum in Sekunden in welchem ein erneutes Erkennen eines RFID-Tags nicht aufgezeichnet wird." th:id="@{transponderValidTime-{reader}(reader=${readerName})}" placeholder="Transponder Valid Time" value="" />
           </div>
           <div class="col-sm-1 mr-auto">
               <a class="btn btn-success btn-w90" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.VALIDTIME); return false;'" role="button">SET</a>
           </div>
       </div>
   
       <div class="form-group row justify-content-md-center">
           <label th:for="@{mode-{reader}(reader=${readerName})}" class="text-right col-sm-2 ml-auto col-form-label">Mode:</label>
           <div class="col-sm-3">
               <input name="mode" maxlength="200" type="text" class="form-control" th:id="@{mode-{reader}(reader=${readerName})}" placeholder="Mode" value="" readonly="true" />
           </div>
           <div class="col-sm-1 mr-auto">
               <a class="btn btn-success btn-w90" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.TOGGLE_MODE); return false;'" role="button">CHANGE</a>
           </div>
       </div>
   
       <div class="form-group row justify-content-md-center">
          <label th:for="@{readerTime-{reader}(reader=${readerName})}" class="text-right col-sm-2 ml-auto col-form-label">Time:</label>
          <div class="col-sm-3">
              <input name="readerTime" maxlength="200" type="text" class="form-control" title="Die Uhrzeit des Readers als diese Seite aufgerufen wurde" th:id="@{readerTime-{reader}(reader=${readerName})}" placeholder="Time" value="" />
          </div>
          <div class="col-sm-1 mr-auto">
              <!-- <a class="btn btn-success btn-w90" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.TIME); return false;'" role="button">SET</a>  -->
          </div>
       </div>
   
       <div class="form-group row justify-content-md-center">
          <label th:for="@{antenna-{reader}(reader=${readerName})}" class="text-right col-sm-2 ml-auto col-form-label">Antennen:</label>
          <div class="col-sm-3">
              <input name="antenna" maxlength="200" type="text" class="form-control" title="Ein-Ausschalten der Antennen. 0 für aus 1 für ein, 0011 schaltet Antennen 1 und 2 ein." th:id="@{antenna-{reader}(reader=${readerName})}" placeholder="Antennen" value="" />
          </div>
          <div class="col-sm-1 mr-auto">
              <a class="btn btn-success btn-w90" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.ANTENNA); return false;'" role="button">SET</a>
          </div>
       </div>

        <div class="form-group row justify-content-md-center">
            <label for="antenna" class="text-right col-sm-2 ml-auto col-form-label">Antennen:</label>
            <div class="col-sm-3">
                <label th:for="@{antenna1-{reader}(reader=${readerName})}">1:</label>
                <input name="antenna_1" th:id="@{antenna1-{reader}(reader=${readerName})}" type="checkbox"/>

                <label th:for="@{antenna2-{reader}(reader=${readerName})}">2:</label>
                <input name="antenna_2" th:id="@{antenna2-{reader}(reader=${readerName})}" type="checkbox"/>

                <label th:for="@{antenna3-{reader}(reader=${readerName})}">3:</label>
                <input name="antenna_3" th:id="@{antenna3-{reader}(reader=${readerName})}" type="checkbox"/>

                <label th:for="@{antenna4-{reader}(reader=${readerName})}">4:</label>
                <input name="antenna_4" th:id="@{antenna4-{reader}(reader=${readerName})}" type="checkbox"/>
            </div>
            <div class="col-sm-1 mr-auto">
                <a class="btn btn-success btn-w90" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.ANTENNA_CHECKBOXES); return false;'" role="button">SET</a>
            </div>
        </div>

        <div class="form-group row justify-content-md-center">
            <label for="encoding" class="text-right col-sm-2 ml-auto col-form-label" title="Im Modus Dezimal werden alle Tags mit Hexadezimalen Startnummern verworfen">Tag Encoding:</label>
            <div class="col-sm-3">
                <label>
                    Decimal
                    <input type="radio" title="Im Modus Dezimal werden alle Tags mit Hexadezimalen Startnummern verworfen" th:id="@{encoding_radio_decimal-{reader}(reader=${readerName})}" name="encoding" value="Decimal"/>
                </label>
                <label>
                    Hexadecimal
                    <input type="radio" th:id="@{encoding_radio_hexadecimal-{reader}(reader=${readerName})}" name="encoding" value="Hexadecimal"/>
                </label>
            </div>
            <div class="col-sm-1 mr-auto">
                <a class="btn btn-success btn-w90" title="Im Modus Dezimal werden alle Tags mit Hexadezimalen Startnummern verworfen" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.CHANGE_ENCODING); return false;'" role="button">SET</a>
            </div>
        </div>

        <div class="form-group row justify-content-md-center">
            <label th:for="@{lower-{reader}(reader=${readerName})}" class="text-right col-sm-2 ml-auto col-form-label">Grenzwerte für Tagfilter</label>
            <div class="col-sm-3">
                <label  class=" row col-form-label" title="Wert ab welchen Startnummern aufgezeichnet werden">
                    <div class="col-sm-3">
                    Mindestwert
                    </div>
                    <div class="col">
                        <input type="number" th:id="@{lower-{reader}(reader=${readerName})}" name="lower"/>
                    </div>
                </label>
                <label  class=" row col-form-label" title="Ausschließliches Limit bis welches Startnummern aufgezeichnet werden">
                    <div class="col-sm-3">Höchstwert</div>
                    <div class="col">
                        <input type="number" th:id="@{upper-{reader}(reader=${readerName})}" name="upper"/>
                    </div>
                </label>
            </div>
            <div class="col-sm-1 mr-auto">
                <a class="btn btn-success btn-w90" title="Speichere diese Änderungen" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.SET_SNR_RANGE); return false;'" role="button">SET</a>
            </div>
        </div>

        <div class="form-group row justify-content-md-center">
          <label th:for="@{relais-{reader}(reader=${readerName})}" class="text-right col-sm-2 ml-auto col-form-label">Relais:</label>
          <div class="col-sm-3">
              <input name="relais" maxlength="200" type="text" class="form-control" th:id="@{relais-{reader}(reader=${readerName})}" placeholder="on" value="on" readonly="true" />
          </div>
          <div class="col-sm-1 mr-auto">
              <a class="btn btn-success btn-w90" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.TOGGLE_RELAIS); return false;'" role="button">CHANGE</a>
          </div>
       </div>
   
       <div class="form-group row justify-content-md-center">
           <div class="col-sm-2 ml-auto">
           </div>
          <div class="col-sm-3 text-right">
            <a class="btn btn-success" href="#" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.INFO); return false;'" role="button">UPDATE</a>
          </div>
           <div class="col-sm-1 mr-auto">
               <a class="btn btn-danger" href="#" title="Speichert die aktuelle Datei unter Namen mit aktuellen Datum als name. Setzt dann die aktuelle Datei zurück" th:onclick="'getReaderData(\'' + ${readerName} + '\',Actions.RESET_READER_FILE); return false;'" role="button">CUT READER FILE</a>
           </div>
       </div>
    </form>

    <div class="row justify-content-md-center">
        <div class="table-responsive col-sm-7">
            <table class="table table-striped table-vcenter">
                <thead>
                    <tr>
                       <th>Datei</th>
                       <th>Zeilen</th>
                       <th>Aktion</th>
                    </tr>
                </thead>
                <tbody th:id="'tbody-' + ${readerName}">
                </tbody>
            </table>
       </div>
    </div>

</div>